@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Downloading</title>
</head>
<body>
    <form method="post">
        <div>
            <label>Name and Surname:</label>
            <input type="text" name="firstName" required />
        </div>
        <div>
            <label>Name of file:</label>
            <input type="text" name="fileName" />
        </div>
        <button type="submit">Enter</button>
    </form>
</body>
</html>